# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
.venv/

# Byte-compiled / optimized files
*$py.class

# ------------------------
# Environment files
# ------------------------
.env
.env.local
.env.production
.env.dev
.env.*

# Never commit secrets
*token*
*key*

# ------------------------
# IDE / editor
# ------------------------
.vscode/
.idea/
*.swp

# ------------------------
# Logs
# ------------------------
*.log
logs/
*.log.*

# ------------------------
# OS-specific
# ------------------------
.DS_Store

# ------------------------
# Archive files
# ------------------------
*.zip
